@import "tailwindcss";

@theme {
  /* header-style*/
  --text-header: 48px;
  --text-header--line-height: 48px;
  --text-header--font-weight: 700;
  /* header2-style */
  --text-header2: 32px;
  --text-header2--line-height: 38px;
  --text-header2--font-weight: 650;
  /* header-3 */
  --text-header3: 24px;
  --text-header3--line-height: 30px;
  --text-header3--font-weight: 600;
  /* body */
  --text-body: 16px;
  --text-body--line-height: 24px;
  --text-body--font-weight: 400;
}